@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Mr+Dafoe&family=Oswald:wght@500&family=Playfair+Display&display=swap');/* Mr Dafoe, Oswald, Coming Soon, Playfair Display*/

:root {
--logo-text: 'Mr Dafoe';
--head-text: 'Oswald';
--logo-color: rgb(111, 107, 107);
--button-color: rgb(163, 91, 39);
--pencil-text: 'Coming Soon'
--vanessa-text: 'Playfair Display'
}


* {
  box-sizing: border-box;
}

header {
  margin: auto;
  width: 901px;
}

.first-div {
  display: flex;
}

main {
  margin: auto;
  width: 901px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 900px;
}

footer {
  width: 900px;
}

.blogpost-name-date {
  display: flex;
  flex-direction: column;
}

.chocolate-container {
  display: flex;
  width: 900px;
  justify-content: space-between;
  flex-direction: column;
}

.blogpost-name-date {
  display: flex;
  justify-content: space-between;
  height: 50%;
  width: 900px;
  align-items: flex-end;
}

 li {
  
  float: right;

}

.logo-container { 
  display: flex;
  flex-direction: column;
}

/* This creates awesome font */
span:first-of-type {
  font-family: var(--logo-text);
}

span:nth-of-type(2) {
  font-size: 4pt;
  font-family:monospace
}


.full-logo-cont {   
  display: flex;
  flex-direction: row;
  width: 60%;
}

li {
  list-style: none;
}

.nav-container {
  display: inline-flex;
  float: left;
}

.everything-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chocolate-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

p {
  font-size: smaller;
}
 
.recipe {
  display: flex;
  flex-direction: row;
}

.checkbox-group1 {
  padding: 50px;
  columns: 2;
  column-gap: 4rem;
  position: absolute;
}

label {
  display: block;
}

.share-recipe-button {
  color: white;
  background-color: var(--button-color);
}

footer {
  border: 2px solid black;
  width: 901px;
  margin: auto;
  text-align: center;
}

.footer-image {
  display: block;
  margin: auto;
}